

/* ================ COLORS ================ */
$blue_main: #951779;
$green_main: #FFFFFF;
$white_main: #E5902F;


/* ================ SIZES ================ */
$logo_4x: 36rem;


/* ================ TEXTS ================ */
$description_4x: 5rem;


